[
    {
        "files": [ "tests/test_bitstream.c",
                   "bitstream.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE=static -I. -Itests"
    },
    {
        "files": [ "tests/test_estimatebit.c",
                   "tests/common.c",
                   "*.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE=static -I. -Itests"
    },
    {
        "files": [ "tests/test_split_urls.c"],
        "compilation_cmd": "-I. -Itests"
    }
]


