[   
    {
        "name": "test_rs.c",
        "files": [ "tests/test_rs.c",
                   "tests/common.c",
                   "qrinput.c",
                   "bitstream.c",
                   "qrspec.c",
                   "split.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE= -DWITH_TESTS -DVERSION=1 -DMAJOR_VERSION=1 -DMINOR_VERSION=0 -DMICRO_VERSION=0 -I. -Itests"
    },
    {
        "name": "test_split.c",
        "files": [ "tests/test_split.c",
                   "tests/common.c",
                   "qrinput.c",
                   "bitstream.c",
                   "qrspec.c",
                   "split.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE= -DWITH_TESTS -DVERSION=1 -DMAJOR_VERSION=1 -DMINOR_VERSION=0 -DMICRO_VERSION=0 -I. -Itests"
    },
    {
        "name": "test_bitstream",
        "files": [ "tests/test_bitstream.c",
                   "tests/common.c",
                   "bitstream.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE= -DWITH_TESTS -I. -Itests"
    },
    {
        "name": "test_estimatebit",
        "files": [ "tests/test_estimatebit.c",
                   "tests/common.c",
                   "qrinput.c",
                   "qrspec.c",
                   "bitstream.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE= -DWITH_TESTS -I. -Itests"
    },
    {
        "name": "test_split_urls",
        "files": [ "tests/test_split_urls.c",
                   "tests/common.c",
                   "split.c",
                   "qrinput.c",
                   "qrspec.c",
                   "bitstream.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE= -DWITH_TESTS -I. -Itests"
    },
    {
        "name": "test_mask.c",
        "files": [ "tests/test_mask.c",
                   "tests/common.c",
                   "*.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE= -DWITH_TESTS -DVERSION=1 -DMAJOR_VERSION=1 -DMINOR_VERSION=0 -DMICRO_VERSION=0 -I. -Itests"
    },
    {
        "name": "test_mmask.c",
        "files": [ "tests/test_mmask.c",
                   "tests/common.c",
                   "*.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE= -DWITH_TESTS -DVERSION=1 -DMAJOR_VERSION=1 -DMINOR_VERSION=0 -DMICRO_VERSION=0 -I. -Itests"
    },
    {
        "name": "test_monkey.c",
        "files": [ "tests/test_monkey.c",
                   "tests/common.c",
                   "*.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE= -DWITH_TESTS -DVERSION=1 -DMAJOR_VERSION=1 -DMINOR_VERSION=0 -DMICRO_VERSION=0 -I. -Itests"
    },
    {
        "name": "test_mqrspec.c",
        "files": [ "tests/test_mqrspec.c",
                   "tests/common.c",
                   "*.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE= -DWITH_TESTS -DVERSION=1 -DMAJOR_VERSION=1 -DMINOR_VERSION=0 -DMICRO_VERSION=0 -I. -Itests"
    },
    {
        "name": "test_qrencode.c",
        "files": [ "tests/test_qrencode.c",
                   "tests/common.c",
                   "*.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE= -DWITH_TESTS -DVERSION=1 -DMAJOR_VERSION=1 -DMINOR_VERSION=0 -DMICRO_VERSION=0 -I. -Itests"
    },
    {
        "name": "test_qrinput.c",
        "files": [ "tests/test_qrinput.c",
                   "tests/common.c",
                   "*.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE= -DWITH_TESTS -DVERSION=1 -DMAJOR_VERSION=1 -DMINOR_VERSION=0 -DMICRO_VERSION=0 -I. -Itests"
    },
    {
        "name": "test_qrspec.c",
        "files": [ "tests/test_qrspec.c",
                   "tests/common.c",
                   "*.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE= -DWITH_TESTS -DVERSION=1 -DMAJOR_VERSION=1 -DMINOR_VERSION=0 -DMICRO_VERSION=0 -I. -Itests"
    }
]
