[
    {
        "name": "test_bitstream",
        "files": [ "tests/test_bitstream.c",
                   "bitstream.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE= -I. -Itests"
    },
    {
        "name": "test_estimatebit",
        "files": [ "tests/test_estimatebit.c",
                   "qrinput.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE= -I. -Itests"
    },
    {
        "name": "test_qrencode",
        "files": [ "tests/test_bitstream.c",
                   "tests/decoder.c",
                   "*.c"],
        "compilation_cmd": "-DSTATIC_IN_RELEASE= -I. -Itests"
    }
]
